<!--
  Generated template for the EditRecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{status}} recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>title</ion-label>
        <ion-input formControlName="name"  type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>decription</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option [value]="option" *ngFor="let option of options">{{option}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button type="button" block clear (click)="onManageIngredients()">manage ingredients</button>
    <ion-list formArrayName="ingredients">
      <ion-item *ngFor="let ctrl of formGroup.get('ingredients').controls;let i=index">
        <ion-label floating>name</ion-label>
        <ion-input type="text" [formControlName]="i"></ion-input>
      </ion-item>
    </ion-list>
    <button [disabled]="!formGroup.valid" type="submit" block ion-button>{{status}} recipe</button>
  </form>
</ion-content>
